<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Name</label>
    <input name="name" type="text" id="name"/>

    <br/>

    <label for="lastName">Last Name</label>
    <input name="lastName" type="text" id="lastName"/>

    <br/>

    <label for="age">Age</label>
    <input name="age" type="text" id="age"/>

    <br/>

    <label for="email">Email</label>
    <input name="email" type="text" id="email"/>

    <br/>

    <label for="password">Password</label>
    <input name="password" type="text" id="password"/>

    <br/>
    <p>
        <label>Roles:
            <input type="checkbox" name="roleList"
                   th:each="roles : ${roleList}"
                   th:text="${roles.getNoPrefix()}"
                   th:value="${roles.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>

<br>
    <input type="submit" value="Create!"/>
</form>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>